.github/
.git/

documentation/
helm/
k8s/

# JS/TS build artifacts
node/**/node_modules/
node/**/build/
node/**/dist/

theia/**/node_modules/
theia/**/lib/
theia/**/src-gen/
theia/**/gen-webpack.*.js

# Java build artifacts
java/**/target/