.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App__logo {
  height: 40vmin;
  pointer-events: none;
}

.App__try-now-button {
  display: inline-block;
  margin: 0;
  line-height: 1;
  -webkit-appearance: none;

  padding: 20px;
  border-radius: 25px;
  border: 2px solid black;
  background-color: #0d82ff;
  font-weight: 600;
  font-size: 2em;
}

.App__try-now-button:hover {
  cursor: pointer;
  background-color: #75b8ff;
}

.App__try-now-button:disabled {
  cursor: default;
  background-color: initial;
  border-color: initial;
}
