.App {
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('./resources/background-image.png');
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Anonymous Pro', monospace;
}

.App__logo {
  height: 40vmin;
  pointer-events: none;
}

.App__try-now-button {
  display: inline-block;
  padding: 1.3rem 3rem;
  color: inherit;
  text-decoration: none;
  border: 2px solid;
  border-radius: 10rem;
  transition: all .3s;
  font-weight: 500;
  outline: none;
  color: #fff;
  background: #383838;
  border-color: #383838;
  font-family: 'Anonymous Pro';
  font-size: medium;
}

.App__try-now-button:hover,
.App__try-now-button:focus {
  text-decoration: none;
  transform: translateY(-3px);
  box-shadow: 0 .8rem 1.6rem rgba(0, 0, 0, .2);
}

.App__try-now-button:disabled {
  background-color: #f5f5f5;
  color: rgba(0, 0, 0, 0.2);
  border-color: rgba(0, 0, 0, 0.3);
  cursor: default;
  box-shadow: none;
  transform: none;
  -webkit-transform: none;
}

.App__error-message {
  width: 60vw;
  line-height: 1.5em;
  padding-top: 2em;
}

.App__footer {
  display: flex;
  padding-bottom: 3em;
  gap: 5em;
  position: absolute;
  bottom: 0;
}

.Loading__description {
  padding-top: 3em;
}