imagePullPolicy: IfNotPresent

app:
  id: asdfghjkl
  name: Theia Blueprint

demoApplication:
  name: theiacloud/theia-cloud-activity-demo:1.1.0-next
  pullSecret: ""
  timeoutStrategy: "FIXEDTIME"
  timeoutLimit: "0"
  imagePullPolicy: IfNotPresent
  monitor:
    port: 8081
    activityTracker:
      timeoutAfter: 4
      notifyAfter: 2

hosts:
  usePaths: false
  configuration:
    baseHost: theia-cloud.io
    service: service
    landing: try
    instance: ws

landingPage:
  image: theiacloud/theia-cloud-landing-page:1.1.0-next
  appDefinition: "theia-cloud-demo"
  ephemeralStorage: true

keycloak:
  enable: true
  authUrl: "https://keycloak.34.141.62.32.nip.io/"
  keycloakRealm: "TheiaCloud"
  keycloakClientId: "theia-cloud"
  clientSecret: "publicbutoauth2proxywantsasecret"
  cookieSecret: "s-p4GxfRlPa_BI1XsLuvE2ihNOqYD1vmewWcXcpYjr0="

service:
  protocol: https

operator:
  eagerStart: false
  bandwidthLimiter: "WONDERSHAPER"
  sessionsPerUser: "3"

ingress:
  clusterIssuer: letsencrypt-prod
  theiaCloudCommonName: false
  instances:
    name: "theia-cloud-demo-ws-ingress"

monitor:
  enable: true
  activityTracker:
    enable: true
    interval: 1
