apiVersion: v1
kind: ConfigMap
metadata:
  name: landing-page-config
  namespace: {{ .Release.Namespace }}
data:
  config.js: |
    window.theiaCloudConfig = {
      appId: "{{ tpl (.Values.app.id | toString) . }}",
      appName: "{{ tpl (.Values.app.name | toString) . }}",
      useEphemeralStorage: {{ tpl (.Values.landingPage.ephemeralStorage | toString) . }},
      useKeycloak: {{ tpl (.Values.keycloak.enable | toString) . }},
      keycloakAuthUrl: "{{ tpl (.Values.keycloak.authUrl | toString) . }}",
      keycloakRealm: "{{ tpl (.Values.keycloak.realm | toString) . }}",
      keycloakClientId: "{{ tpl (.Values.keycloak.clientId | toString) . }}",
      serviceUrl: "{{ tpl (.Values.hosts.serviceProtocol | toString) . }}://{{ tpl (.Values.hosts.service | toString) . }}{{ if .Values.hosts.useServicePortInHostname }}:{{ tpl (.Values.hosts.servicePort | toString) . }}{{ end }}",
      appDefinition: "{{ tpl (.Values.landingPage.appDefinition | toString) . }}",
    };
binaryData:
  {{ range $path, $bytes := .Files.Glob (printf "logos/%s" .Values.app.logo)}}
  {{ print "logo.png: "}}{{ $.Files.Get $path | b64enc }}
  {{ end }}
