body {
  background: rgb(255, 218, 218);
  background: linear-gradient(
    90deg,
    rgba(255, 218, 218, 1) 0%,
    rgba(255, 218, 218, 1) 3%,
    rgba(215, 248, 255, 1) 100%
  );
}

html {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: large;
  color: darkslategray;
}
