imagePullPolicy: Always

app:
  id: asdfghjkl
  name: Theia Blueprint

image:
  name: theiacloud/theia-cloud-activity-demo:0.8.1.MS2
  pullSecret: ""
  timeoutStrategy: "FIXEDTIME"
  timeoutLimit: "0"
  imagePullPolicy: IfNotPresent

hosts:
  usePaths: false
  service: service.theia-cloud.io
  serviceProtocol: https
  landing: try.theia-cloud.io
  instance: ws.theia-cloud.io

landingPage:
  image: theiacloud/theia-cloud-try-now-page:0.8.1.MS2
  appDefinition: "theia-cloud-demo"
  ephemeralStorage: true

keycloak:
  enable: true
  authUrl: "https://keycloak.34.141.62.32.nip.io/"
  keycloakRealm: "TheiaCloud"
  keycloakClientId: "theia-cloud"
  clientSecret: "publicbutoauth2proxywantsasecret"
  cookieSecret: "s-p4GxfRlPa_BI1XsLuvE2ihNOqYD1vmewWcXcpYjr0="

operator:
  eagerStart: false
  bandwidthLimiter: "WONDERSHAPER"
  sessionsPerUser: "3"

ingress:
  instanceName: "theia-cloud-demo-ws-ingress"
  clusterIssuer: letsencrypt-prod
  theiaCloudCommonName: false

monitor:
  enable: true
  port: 8081
  activityTracker:
    enable: true
    interval: 1
    timeoutAfter: 4
    notifyAfter: 2
