apiVersion: theia.cloud/v3beta
kind: AppDefinition
metadata:
  name: coffee-editor
  namespace: theiacloud
spec:
  name: cdt-cloud-demo
  image: eu.gcr.io/kubernetes-238012/coffee-editor:v0.7.12
  pullSecret: ""
  uid: 1000
  port: 3000
  host: ws.theia-cloud.io
  ingressname: theia-cloud-demo-ws-ingress
  minInstances: 0
  maxInstances: 10
  timeout:
    limit: 30
    strategy: FIXEDTIME
  requestsMemory: 1000M
  limitsMemory: 1200M
  requestsCpu: "100m"
  limitsCpu: "2"
  downlinkLimit: 30000
  uplinkLimit: 30000
  mountPath: "/home/project/persisted"
