imagePullPolicy: Always

app:
  id: asdfghjkl
  name: Theia Cloud

image:
  name: theiacloud/theia-cloud-demo:0.8.1.MS2
  pullSecret: ""
  timeoutStrategy: "FIXEDTIME"
  timeoutLimit: "30"
  imagePullPolicy: IfNotPresent

hosts:
  usePaths: true
  paths:
    service: servicex
    landing: trynow
    instance: instances

landingPage:
  image: theiacloud/theia-cloud-landing-page:0.8.1.MS2
  appDefinition: "theia-cloud-demo"
  ephemeralStorage: false

keycloak:
  enable: true
  realm: "TheiaCloud"
  clientId: "theia-cloud"
  clientSecret: "publicbutoauth2proxywantsasecret"
  cookieSecret: "OQINaROshtE9TcZkNAm5Zs2Pv3xaWytBmc5W7sPX7ws="

operator:
  eagerStart: false
  bandwidthLimiter: "WONDERSHAPER"
  sessionsPerUser: "1"
  storageClassName: ""

ingress:
  instanceName: "theia-cloud-demo-ws-ingress"
  clusterIssuer: letsencrypt-prod
  theiaCloudCommonName: false

monitor:
  enable: false
  activityTracker:
    enable: true
    interval: 1
