imagePullPolicy: Always

app:
  id: asdfghjkl
  name: Theia Cloud

demoApplication:
  name: theiacloud/theia-cloud-demo:1.1.0-next
  pullSecret: ""
  timeoutStrategy: "FIXEDTIME"
  timeoutLimit: "30"
  imagePullPolicy: IfNotPresent
  # This overrides the default value and does not write the default values to the app definition
  monitor: null

hosts:
  usePaths: true
  configuration:
    service: servicex
    landing: trynow
    instance: instances

landingPage:
  image: theiacloud/theia-cloud-landing-page:1.1.0-next
  appDefinition: "theia-cloud-demo"
  ephemeralStorage: false

keycloak:
  enable: true
  realm: "TheiaCloud"
  clientId: "theia-cloud"
  clientSecret: "publicbutoauth2proxywantsasecret"
  cookieSecret: "OQINaROshtE9TcZkNAm5Zs2Pv3xaWytBmc5W7sPX7ws="

operator:
  eagerStart: false
  bandwidthLimiter: "WONDERSHAPER"
  sessionsPerUser: "1"
  storageClassName: ""

ingress:
  clusterIssuer: letsencrypt-prod
  theiaCloudCommonName: false
  addTLSSecretName: false
  instances:
    name: "theia-cloud-demo-ws-ingress"

monitor:
  enable: false
