name: Wondershaper CI

on:
  push:
    branches:
      - main
    paths:
      - "dockerfiles/wondershaper/**"
      # Publish when a workflow has changed (this is needed to detect version updates)
      - ".github/workflows/ci-wondershaper.yml"
      - ".github/workflows/reuseable-docker.yml"
  pull_request:
    branches:
      - main
    paths:
      - "dockerfiles/wondershaper/**"
  release:
    types:
      - published

jobs:
  call-reusable-docker-workflow:
    uses: ./.github/workflows/reusable-docker.yml
    with:
      docker_org: theiacloud
      docker_image: theia-cloud-wondershaper
      docker_file: dockerfiles/wondershaper/Dockerfile
    secrets:
      dockerhub_username: ${{ secrets.DOCKERHUB_USERNAME }}
      dockerhub_token: ${{ secrets.DOCKERHUB_TOKEN }}
