name: Docker Try-Now Page CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main, osweek23 ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Build the Docker image
      run: docker build -t theia-cloud-try-now-page:$(date +%s) -f dockerfiles/try-now-page/Dockerfile .
