name: Reusable workflow for maven packages

on:
  workflow_call:
    inputs:
      path_to_package:
        required: true
        type: string
      dependencies:
        description: "Array of paths to dependencies"
        required: false
        type: string

defaults:
  run:
    working-directory: java

jobs:
  build:
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request'

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: "17"
          distribution: "temurin"

      - name: Build dependencies
        if: ${{ inputs.dependencies != '' }}
        run: |
          IFS=',' read -r -a dirs <<< "${{ inputs.dependencies }}"
          for dir in "${dirs[@]}"
          do
            cd "$dir"
            mvn clean install --no-transfer-progress
            cd -
          done

      - name: Verify package
        run: |
          cd ${{ inputs.path_to_package }}
          mvn verify

  check-version:
    runs-on: ubuntu-latest
    if: github.event_name == 'push' || github.event_name == 'release'
    outputs:
      is_snapshot_version: ${{ steps.version_check.outputs.is_snapshot_version }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
      - id: version_check
        run: |
          cd ${{ inputs.path_to_package }}
          VERSION=$(mvn help:evaluate -Dexpression=project.version -q -DforceStdout)
          if [[ "$VERSION" == *-SNAPSHOT ]]; then
            echo "is_snapshot_version=true" >> $GITHUB_OUTPUT
          else
            echo "is_snapshot_version=false" >> $GITHUB_OUTPUT
          fi

  publish:
    runs-on: ubuntu-latest
    needs: check-version
    if: (github.event_name == 'push' && needs.check-version.outputs.is_snapshot_version == 'true') || (github.event_name == 'release' && needs.check-version.outputs.is_snapshot_version == 'false')

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: "17"
          distribution: "temurin"

      - name: Build dependencies
        if: ${{ inputs.dependencies != '' }}
        run: |
          IFS=',' read -r -a dirs <<< "${{ inputs.dependencies }}"
          for dir in "${dirs[@]}"
          do
            cd "$dir"
            mvn clean install --no-transfer-progress
            cd -
          done

      - name: Publish package
        run: |
          cd ${{ inputs.path_to_package }}
          mvn --batch-mode deploy
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
